<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Q</key>
	<dict>
		<key>X</key>
		<integer>-17</integer>
		<key>public.kern2.A</key>
		<integer>-12</integer>
		<key>public.kern2.T</key>
		<integer>-26</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-26</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>ae</key>
		<integer>-54</integer>
		<key>oe</key>
		<integer>-50</integer>
		<key>public.kern2.A</key>
		<integer>-46</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.a</key>
		<integer>-54</integer>
		<key>public.kern2.c</key>
		<integer>-50</integer>
		<key>public.kern2.d</key>
		<integer>-50</integer>
		<key>public.kern2.e</key>
		<integer>-50</integer>
		<key>public.kern2.eng</key>
		<integer>-34</integer>
		<key>public.kern2.f</key>
		<integer>-24</integer>
		<key>public.kern2.g</key>
		<integer>-50</integer>
		<key>public.kern2.m</key>
		<integer>-34</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.p</key>
		<integer>-34</integer>
		<key>public.kern2.r</key>
		<integer>-34</integer>
		<key>public.kern2.s</key>
		<integer>-54</integer>
		<key>public.kern2.t</key>
		<integer>-24</integer>
		<key>public.kern2.u</key>
		<integer>-48</integer>
		<key>public.kern2.w</key>
		<integer>-34</integer>
		<key>public.kern2.y</key>
		<integer>-34</integer>
		<key>public.kern2.z</key>
		<integer>-34</integer>
		<key>q</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>-34</integer>
		<key>x</key>
		<integer>-34</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>Q</key>
		<integer>-20</integer>
		<key>ae</key>
		<integer>-24</integer>
		<key>oe</key>
		<integer>-24</integer>
		<key>public.kern2.C</key>
		<integer>-20</integer>
		<key>public.kern2.G</key>
		<integer>-20</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.S</key>
		<integer>-20</integer>
		<key>public.kern2.U</key>
		<integer>-20</integer>
		<key>public.kern2.a</key>
		<integer>-24</integer>
		<key>public.kern2.c</key>
		<integer>-24</integer>
		<key>public.kern2.d</key>
		<integer>-24</integer>
		<key>public.kern2.eng</key>
		<integer>-24</integer>
		<key>public.kern2.m</key>
		<integer>-24</integer>
		<key>public.kern2.o</key>
		<integer>-24</integer>
		<key>public.kern2.p</key>
		<integer>-24</integer>
		<key>public.kern2.r</key>
		<integer>-24</integer>
		<key>public.kern2.s</key>
		<integer>-24</integer>
		<key>public.kern2.w</key>
		<integer>-36</integer>
		<key>public.kern2.z</key>
		<integer>-24</integer>
		<key>q</key>
		<integer>-24</integer>
		<key>v</key>
		<integer>-48</integer>
		<key>x</key>
		<integer>-24</integer>
	</dict>
	<key>germandbls</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-12</integer>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>Q</key>
		<integer>-12</integer>
		<key>V</key>
		<integer>-46</integer>
		<key>oe</key>
		<integer>-12</integer>
		<key>public.kern2.C</key>
		<integer>-12</integer>
		<key>public.kern2.G</key>
		<integer>-12</integer>
		<key>public.kern2.O</key>
		<integer>-12</integer>
		<key>public.kern2.S</key>
		<integer>-12</integer>
		<key>public.kern2.T</key>
		<integer>-52</integer>
		<key>public.kern2.U</key>
		<integer>-12</integer>
		<key>public.kern2.W</key>
		<integer>-41</integer>
		<key>public.kern2.Y</key>
		<integer>-46</integer>
		<key>public.kern2.c</key>
		<integer>-12</integer>
		<key>public.kern2.d</key>
		<integer>-12</integer>
		<key>public.kern2.e</key>
		<integer>-12</integer>
		<key>public.kern2.g</key>
		<integer>-12</integer>
		<key>public.kern2.o</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-24</integer>
		<key>public.kern2.y</key>
		<integer>-60</integer>
		<key>q</key>
		<integer>-12</integer>
		<key>v</key>
		<integer>-66</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>V</key>
		<integer>-12</integer>
		<key>X</key>
		<integer>-17</integer>
		<key>public.kern2.A</key>
		<integer>-6</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-17</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>V</key>
		<integer>-12</integer>
		<key>X</key>
		<integer>-12</integer>
		<key>public.kern2.A</key>
		<integer>-12</integer>
		<key>public.kern2.T</key>
		<integer>-12</integer>
		<key>public.kern2.W</key>
		<integer>-6</integer>
		<key>public.kern2.Y</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.D</key>
	<dict>
		<key>V</key>
		<integer>-12</integer>
		<key>X</key>
		<integer>-17</integer>
		<key>public.kern2.A</key>
		<integer>-12</integer>
		<key>public.kern2.T</key>
		<integer>-26</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>ae</key>
		<integer>-24</integer>
		<key>oe</key>
		<integer>-24</integer>
		<key>public.kern2.A</key>
		<integer>-35</integer>
		<key>public.kern2.J</key>
		<integer>-58</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.a</key>
		<integer>-24</integer>
		<key>public.kern2.c</key>
		<integer>-24</integer>
		<key>public.kern2.d</key>
		<integer>-24</integer>
		<key>public.kern2.e</key>
		<integer>-24</integer>
		<key>public.kern2.g</key>
		<integer>-24</integer>
		<key>public.kern2.o</key>
		<integer>-24</integer>
		<key>public.kern2.s</key>
		<integer>-24</integer>
		<key>public.kern2.w</key>
		<integer>-24</integer>
		<key>public.kern2.y</key>
		<integer>-24</integer>
		<key>q</key>
		<integer>-24</integer>
		<key>v</key>
		<integer>-24</integer>
	</dict>
	<key>public.kern1.G</key>
	<dict>
		<key>V</key>
		<integer>-12</integer>
		<key>X</key>
		<integer>-12</integer>
		<key>public.kern2.A</key>
		<integer>-12</integer>
		<key>public.kern2.T</key>
		<integer>-12</integer>
		<key>public.kern2.W</key>
		<integer>-6</integer>
		<key>public.kern2.Y</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.J</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.K</key>
	<dict>
		<key>Q</key>
		<integer>-23</integer>
		<key>ae</key>
		<integer>-24</integer>
		<key>oe</key>
		<integer>-24</integer>
		<key>public.kern2.C</key>
		<integer>-23</integer>
		<key>public.kern2.G</key>
		<integer>-23</integer>
		<key>public.kern2.O</key>
		<integer>-23</integer>
		<key>public.kern2.S</key>
		<integer>-17</integer>
		<key>public.kern2.U</key>
		<integer>-12</integer>
		<key>public.kern2.W</key>
		<integer>-35</integer>
		<key>public.kern2.a</key>
		<integer>-24</integer>
		<key>public.kern2.c</key>
		<integer>-24</integer>
		<key>public.kern2.d</key>
		<integer>-24</integer>
		<key>public.kern2.dotlessi</key>
		<integer>-24</integer>
		<key>public.kern2.e</key>
		<integer>-24</integer>
		<key>public.kern2.f</key>
		<integer>-50</integer>
		<key>public.kern2.g</key>
		<integer>-32</integer>
		<key>public.kern2.l</key>
		<integer>-24</integer>
		<key>public.kern2.o</key>
		<integer>-24</integer>
		<key>public.kern2.s</key>
		<integer>-24</integer>
		<key>public.kern2.t</key>
		<integer>-72</integer>
		<key>public.kern2.u</key>
		<integer>-24</integer>
		<key>public.kern2.w</key>
		<integer>-72</integer>
		<key>public.kern2.y</key>
		<integer>-72</integer>
		<key>q</key>
		<integer>-24</integer>
		<key>v</key>
		<integer>-72</integer>
		<key>x</key>
		<integer>-24</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>Q</key>
		<integer>-17</integer>
		<key>V</key>
		<integer>-29</integer>
		<key>public.kern2.C</key>
		<integer>-17</integer>
		<key>public.kern2.G</key>
		<integer>-17</integer>
		<key>public.kern2.O</key>
		<integer>-17</integer>
		<key>public.kern2.S</key>
		<integer>-17</integer>
		<key>public.kern2.T</key>
		<integer>-73</integer>
		<key>public.kern2.U</key>
		<integer>-17</integer>
		<key>public.kern2.W</key>
		<integer>-17</integer>
		<key>public.kern2.Y</key>
		<integer>-76</integer>
		<key>public.kern2.w</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-84</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>X</key>
		<integer>-17</integer>
		<key>public.kern2.A</key>
		<integer>-12</integer>
		<key>public.kern2.T</key>
		<integer>-26</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-26</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>Q</key>
		<integer>-12</integer>
		<key>ae</key>
		<integer>-36</integer>
		<key>oe</key>
		<integer>-30</integer>
		<key>public.kern2.A</key>
		<integer>-23</integer>
		<key>public.kern2.C</key>
		<integer>-12</integer>
		<key>public.kern2.G</key>
		<integer>-12</integer>
		<key>public.kern2.J</key>
		<integer>-180</integer>
		<key>public.kern2.O</key>
		<integer>-12</integer>
		<key>public.kern2.S</key>
		<integer>-12</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-17</integer>
		<key>public.kern2.a</key>
		<integer>-36</integer>
		<key>public.kern2.c</key>
		<integer>-30</integer>
		<key>public.kern2.d</key>
		<integer>-30</integer>
		<key>public.kern2.e</key>
		<integer>-30</integer>
		<key>public.kern2.eng</key>
		<integer>-20</integer>
		<key>public.kern2.g</key>
		<integer>-30</integer>
		<key>public.kern2.m</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.p</key>
		<integer>-20</integer>
		<key>public.kern2.r</key>
		<integer>-20</integer>
		<key>public.kern2.s</key>
		<integer>-25</integer>
		<key>public.kern2.u</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-10</integer>
		<key>public.kern2.z</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>Q</key>
		<integer>-10</integer>
		<key>public.kern2.A</key>
		<integer>-10</integer>
		<key>public.kern2.C</key>
		<integer>-10</integer>
		<key>public.kern2.G</key>
		<integer>-10</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.T</key>
		<integer>-17</integer>
		<key>public.kern2.Y</key>
		<integer>-17</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>Q</key>
		<integer>-17</integer>
		<key>ae</key>
		<integer>-108</integer>
		<key>oe</key>
		<integer>-108</integer>
		<key>public.kern2.A</key>
		<integer>-52</integer>
		<key>public.kern2.C</key>
		<integer>-17</integer>
		<key>public.kern2.G</key>
		<integer>-17</integer>
		<key>public.kern2.J</key>
		<integer>-120</integer>
		<key>public.kern2.O</key>
		<integer>-17</integer>
		<key>public.kern2.S</key>
		<integer>-17</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.a</key>
		<integer>-108</integer>
		<key>public.kern2.c</key>
		<integer>-108</integer>
		<key>public.kern2.d</key>
		<integer>-108</integer>
		<key>public.kern2.dotlessi</key>
		<integer>-24</integer>
		<key>public.kern2.dotlessj</key>
		<integer>-24</integer>
		<key>public.kern2.e</key>
		<integer>-108</integer>
		<key>public.kern2.eng</key>
		<integer>-96</integer>
		<key>public.kern2.f</key>
		<integer>-60</integer>
		<key>public.kern2.g</key>
		<integer>-108</integer>
		<key>public.kern2.m</key>
		<integer>-96</integer>
		<key>public.kern2.o</key>
		<integer>-108</integer>
		<key>public.kern2.p</key>
		<integer>-96</integer>
		<key>public.kern2.r</key>
		<integer>-96</integer>
		<key>public.kern2.s</key>
		<integer>-108</integer>
		<key>public.kern2.t</key>
		<integer>-60</integer>
		<key>public.kern2.u</key>
		<integer>-96</integer>
		<key>public.kern2.w</key>
		<integer>-96</integer>
		<key>public.kern2.y</key>
		<integer>-96</integer>
		<key>public.kern2.z</key>
		<integer>-96</integer>
		<key>q</key>
		<integer>-108</integer>
		<key>v</key>
		<integer>-96</integer>
		<key>x</key>
		<integer>-96</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.W</key>
	<dict>
		<key>ae</key>
		<integer>-32</integer>
		<key>oe</key>
		<integer>-26</integer>
		<key>public.kern2.A</key>
		<integer>-41</integer>
		<key>public.kern2.a</key>
		<integer>-32</integer>
		<key>public.kern2.c</key>
		<integer>-26</integer>
		<key>public.kern2.d</key>
		<integer>-26</integer>
		<key>public.kern2.e</key>
		<integer>-26</integer>
		<key>public.kern2.eng</key>
		<integer>-26</integer>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.g</key>
		<integer>-26</integer>
		<key>public.kern2.m</key>
		<integer>-26</integer>
		<key>public.kern2.o</key>
		<integer>-26</integer>
		<key>public.kern2.p</key>
		<integer>-26</integer>
		<key>public.kern2.r</key>
		<integer>-26</integer>
		<key>public.kern2.s</key>
		<integer>-26</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
		<key>public.kern2.u</key>
		<integer>-12</integer>
		<key>public.kern2.z</key>
		<integer>-12</integer>
		<key>q</key>
		<integer>-26</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>Q</key>
		<integer>-26</integer>
		<key>ae</key>
		<integer>-120</integer>
		<key>oe</key>
		<integer>-98</integer>
		<key>public.kern2.A</key>
		<integer>-46</integer>
		<key>public.kern2.C</key>
		<integer>-26</integer>
		<key>public.kern2.G</key>
		<integer>-26</integer>
		<key>public.kern2.J</key>
		<integer>-58</integer>
		<key>public.kern2.O</key>
		<integer>-26</integer>
		<key>public.kern2.S</key>
		<integer>-26</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.a</key>
		<integer>-120</integer>
		<key>public.kern2.c</key>
		<integer>-98</integer>
		<key>public.kern2.d</key>
		<integer>-98</integer>
		<key>public.kern2.dotlessi</key>
		<integer>-44</integer>
		<key>public.kern2.dotlessj</key>
		<integer>-44</integer>
		<key>public.kern2.e</key>
		<integer>-98</integer>
		<key>public.kern2.eng</key>
		<integer>-72</integer>
		<key>public.kern2.f</key>
		<integer>-66</integer>
		<key>public.kern2.g</key>
		<integer>-98</integer>
		<key>public.kern2.l</key>
		<integer>-32</integer>
		<key>public.kern2.m</key>
		<integer>-72</integer>
		<key>public.kern2.o</key>
		<integer>-98</integer>
		<key>public.kern2.p</key>
		<integer>-72</integer>
		<key>public.kern2.r</key>
		<integer>-72</integer>
		<key>public.kern2.s</key>
		<integer>-90</integer>
		<key>public.kern2.t</key>
		<integer>-66</integer>
		<key>public.kern2.u</key>
		<integer>-72</integer>
		<key>public.kern2.w</key>
		<integer>-72</integer>
		<key>public.kern2.y</key>
		<integer>-72</integer>
		<key>public.kern2.z</key>
		<integer>-72</integer>
		<key>q</key>
		<integer>-98</integer>
		<key>v</key>
		<integer>-72</integer>
		<key>x</key>
		<integer>-72</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>Q</key>
		<integer>-20</integer>
		<key>public.kern2.C</key>
		<integer>-12</integer>
		<key>public.kern2.G</key>
		<integer>-12</integer>
		<key>public.kern2.J</key>
		<integer>-10</integer>
		<key>public.kern2.O</key>
		<integer>-12</integer>
		<key>public.kern2.S</key>
		<integer>-20</integer>
		<key>public.kern2.U</key>
		<integer>-6</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.f</key>
		<integer>-24</integer>
		<key>public.kern2.t</key>
		<integer>-24</integer>
		<key>public.kern2.w</key>
		<integer>-48</integer>
		<key>public.kern2.y</key>
		<integer>-48</integer>
		<key>v</key>
		<integer>-48</integer>
	</dict>
	<key>public.kern1.a</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-12</integer>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.b</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-22</integer>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.c</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.comma</key>
	<dict>
		<key>public.kern2.quotedblright</key>
		<integer>-86</integer>
	</dict>
	<key>public.kern1.e</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-22</integer>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.eng</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-6</integer>
		<key>v</key>
		<integer>-6</integer>
	</dict>
	<key>public.kern1.f</key>
	<dict>
		<key>germandbls</key>
		<integer>-6</integer>
		<key>public.kern2.a</key>
		<integer>-6</integer>
		<key>public.kern2.c</key>
		<integer>-6</integer>
		<key>public.kern2.comma</key>
		<integer>-23</integer>
		<key>public.kern2.e</key>
		<integer>-6</integer>
		<key>public.kern2.g</key>
		<integer>-6</integer>
		<key>public.kern2.o</key>
		<integer>-6</integer>
		<key>public.kern2.s</key>
		<integer>-6</integer>
		<key>q</key>
		<integer>-6</integer>
	</dict>
	<key>public.kern1.h</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-6</integer>
		<key>v</key>
		<integer>-6</integer>
	</dict>
	<key>public.kern1.k</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.c</key>
		<integer>-30</integer>
		<key>public.kern2.e</key>
		<integer>-30</integer>
		<key>public.kern2.g</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.s</key>
		<integer>-12</integer>
		<key>q</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.m</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-6</integer>
		<key>v</key>
		<integer>-6</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-22</integer>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.p</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-22</integer>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.quotedblleft</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-46</integer>
		<key>public.kern2.J</key>
		<integer>-58</integer>
		<key>public.kern2.c</key>
		<integer>-26</integer>
		<key>public.kern2.e</key>
		<integer>-26</integer>
		<key>public.kern2.g</key>
		<integer>-26</integer>
		<key>public.kern2.o</key>
		<integer>-26</integer>
		<key>public.kern2.s</key>
		<integer>-26</integer>
		<key>q</key>
		<integer>-26</integer>
	</dict>
	<key>public.kern1.quotedblright</key>
	<dict>
		<key>germandbls</key>
		<integer>-12</integer>
		<key>public.kern2.comma</key>
		<integer>-86</integer>
		<key>public.kern2.s</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-24</integer>
		<key>public.kern2.c</key>
		<integer>-24</integer>
		<key>public.kern2.comma</key>
		<integer>-43</integer>
		<key>public.kern2.e</key>
		<integer>-24</integer>
		<key>public.kern2.g</key>
		<integer>-24</integer>
		<key>public.kern2.o</key>
		<integer>-24</integer>
		<key>public.kern2.s</key>
		<integer>-24</integer>
		<key>q</key>
		<integer>-24</integer>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.s</key>
	<dict>
		<key>public.kern2.f</key>
		<integer>-12</integer>
		<key>public.kern2.t</key>
		<integer>-12</integer>
		<key>public.kern2.w</key>
		<integer>-12</integer>
		<key>public.kern2.y</key>
		<integer>-22</integer>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.w</key>
	<dict>
		<key>germandbls</key>
		<integer>-12</integer>
		<key>public.kern2.a</key>
		<integer>-16</integer>
		<key>public.kern2.c</key>
		<integer>-12</integer>
		<key>public.kern2.comma</key>
		<integer>-23</integer>
		<key>public.kern2.e</key>
		<integer>-12</integer>
		<key>public.kern2.g</key>
		<integer>-12</integer>
		<key>public.kern2.o</key>
		<integer>-12</integer>
		<key>public.kern2.s</key>
		<integer>-12</integer>
		<key>q</key>
		<integer>-12</integer>
	</dict>
	<key>public.kern1.y</key>
	<dict>
		<key>germandbls</key>
		<integer>-22</integer>
		<key>public.kern2.a</key>
		<integer>-22</integer>
		<key>public.kern2.c</key>
		<integer>-22</integer>
		<key>public.kern2.comma</key>
		<integer>-29</integer>
		<key>public.kern2.e</key>
		<integer>-22</integer>
		<key>public.kern2.g</key>
		<integer>-22</integer>
		<key>public.kern2.o</key>
		<integer>-22</integer>
		<key>public.kern2.s</key>
		<integer>-22</integer>
		<key>q</key>
		<integer>-22</integer>
	</dict>
	<key>public.kern1.z</key>
	<dict>
		<key>germandbls</key>
		<integer>-12</integer>
		<key>public.kern2.a</key>
		<integer>-12</integer>
		<key>public.kern2.c</key>
		<integer>-12</integer>
		<key>public.kern2.e</key>
		<integer>-12</integer>
		<key>public.kern2.g</key>
		<integer>-12</integer>
		<key>public.kern2.o</key>
		<integer>-12</integer>
		<key>public.kern2.s</key>
		<integer>-12</integer>
		<key>q</key>
		<integer>-12</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>V</key>
		<integer>-17</integer>
		<key>public.kern2.A</key>
		<integer>-12</integer>
		<key>public.kern2.J</key>
		<integer>-12</integer>
		<key>public.kern2.T</key>
		<integer>-17</integer>
		<key>public.kern2.W</key>
		<integer>-12</integer>
		<key>public.kern2.Y</key>
		<integer>-17</integer>
		<key>public.kern2.w</key>
		<integer>-10</integer>
		<key>public.kern2.y</key>
		<integer>-12</integer>
		<key>v</key>
		<integer>-12</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>germandbls</key>
		<integer>-12</integer>
		<key>public.kern2.a</key>
		<integer>-22</integer>
		<key>public.kern2.c</key>
		<integer>-12</integer>
		<key>public.kern2.comma</key>
		<integer>-29</integer>
		<key>public.kern2.e</key>
		<integer>-12</integer>
		<key>public.kern2.g</key>
		<integer>-12</integer>
		<key>public.kern2.o</key>
		<integer>-12</integer>
		<key>public.kern2.s</key>
		<integer>-12</integer>
		<key>q</key>
		<integer>-12</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-12</integer>
		<key>public.kern2.c</key>
		<integer>-17</integer>
		<key>public.kern2.e</key>
		<integer>-17</integer>
		<key>public.kern2.g</key>
		<integer>-17</integer>
		<key>public.kern2.o</key>
		<integer>-17</integer>
		<key>q</key>
		<integer>-17</integer>
	</dict>
</dict>
</plist>
